.menu{
padding:80px 20px;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
max-width:1200px;
margin:auto;
}

.menu-card{
background:#111;
border-radius:18px;
padding:20px;
transition:0.3s;
}

.menu-card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px orange;
}

.menu-card img{
width:100%;
border-radius:10px;
}