body{
margin:0;
font-family:Arial;
background:#000;
}



.dota-header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
}

.logo-center img{
height:60px;
}

.order-btn{
background:#ffb300;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:black;
font-weight:bold;
}



.hero{
display:flex;
justify-content:center;
margin-top:30px;
}

.hero img{
width:80%;
max-width:1200px;
border-radius:20px;
}



.menu{
padding:80px 20px;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
max-width:1200px;
margin:auto;
}

.menu-card{
background:#111;
border-radius:20px;
padding:20px;
transition:0.3s;
}

.menu-card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px orange;
}

.menu-card img{
width:100%;
border-radius:12px;
}