.obed {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.obed img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.pismo {
    font-family: 'Arial', sans-serif;
    color: var(--dota-gold);
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
    text-shadow: 0 0 10px var(--dota-gold);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.category {
    width: 300px;
    text-align: center;
    position: relative;
}

.category img {
    width: 100%;
    border-radius: 10px;
    display: block;
}
.library-button a{
    background-color: gray;
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.promo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@media (max-width: 700px) {
    .library-container {
        grid-template-columns: 300px;
    }
}